{{>navbarAdmin}}
<div class="container">
    <div class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ID Pembeli</h5>
            <small>Tanggal pembelian</small>
        </div>
        <p class="mb-1">Detail order</p>
        <small>Total harga</small>
    </div>
    {{# each cart}}
    <div class="list-group">


        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{user.email}}</h5>
                <small class="text-muted">{{date}}</small>
            </div>
            {{# each order}}
            <p class="mb-1">{{product.name}}: {{qty}}</p>
            {{/each}}
            <small class="text-muted">Rp.{{totalPrice}} - </small>
            <small class="text-muted">Status: {{status}}</small>
        </a>
    </div>

    {{/each}}
</div>