{{>navbarWarung}}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.order}}
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{product.image}}"
                                    style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product/{{id}}"
                                        style="text-decoration: none; color:black">{{product.name}}</a></h4>
                                <h5 class="media-heading"> by <a href="#"
                                        style="text-decoration: none; color:gray">{{product.seller.email}}</a></h5>
                                <span>Quantity: </span><span
                                    class="text-warning"><strong>{{product.qty}}</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-1 text-left"><strong class="label label-danger">{{product.category}}</strong></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <a href="/addToCart/{{id}}" style="text-decoration: none; color:black">
                            <i class="material-icons">add</i>
                        </a>
                        </form>
                        <p class="lead mb-0 mt-0">{{qty}}</p>
                        <a href="/decreaseOne/{{id}}" style="text-decoration: none; color:black">
                            <i class="material-icons">remove</i>
                        </a>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>Rp {{product.price}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>Rp {{totalPrice}}</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <a href="/removeFromCart/{{id}}" style="text-decoration: none; color:black">
                                Remove
                            </a>
                        </button></td>
                </tr>
                {{/each}}
                <tr>
                    {{!-- <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <h5>Subtotal</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>Rp {{cart.totalPrice}}</strong></h5>
                    </td>
                </tr> --}}
                    {{#if cart.shipping.type.name}}
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <h5>Shipping Fee</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>{{cart.shipping.type.name}} - Rp {{cart.shipping.type.price}}</strong></h5>
                        <button type="button" class="btn btn-danger">
                            <a href="/changeShipping/{{cart.shipping.type._id}}"
                                style="text-decoration: none; color:black">
                                Change
                            </a>
                        </button>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <h5>Choose Your Shipping</h5>
                    </td>
                    <td class="text-right">
                        <select class="form-control" name="shipping" id="shipping" onchange="location = this.value;">
                            <option value="choose" disabled selected>Carier</option>
                            {{# each shipping}}
                            <option value="/chooseShipping/{{id}}">{{name}} - Rp {{price}}
                            </option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <h3>Total</h3>
                    </td>
                    <td class="text-right">
                        <h3><strong>Rp {{cart.totalPrice}}</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <button type="button" class="btn btn-warning">
                            <a href="/" style="text-decoration: none; color:black">
                                Continue Shopping
                            </a>
                        </button></td>
                    <td>
                        {{#if cart.shipping.type.name}}
                        <button type="button" class="btn btn-warning">
                            <a href="/checkout" style="text-decoration: none; color:black">
                                Checkout
                            </a>
                        </button>
                        {{else}}
                        <button type="button" class="btn btn-success" disabled>
                            Checkout
                        </button></td>
                    {{/if}}
                </tr>
            </tbody>
        </table>
    </div>
</div>