{{>navbarAgen}}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar p-0 h-100">
            <div class="sidebar sticky bg-warning h-100">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="/agen">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Products</h1>
            </div>
            <div class="row justify-content-start mb-3">
                {{# each products}}

                <div class="col-sm-2" style="margin-right: 20px; margin-top: 10px;">
                    <div class="card" style="width: 200px;">
                        <img class="card-img-top mx-auto" src="{{image}}" alt="Card image cap"
                            style="width: 100px;height: 150px;">
                        <div class="card-body">
                            <p class="card-title m-0"><a href="/product/{{id}}"
                                    style="text-decoration: none; color:black; font-size: small;"><b>{{name}}</b></a>
                            </p>
                            <p class="card-text m-0" style="font-size: small;">Rp {{price}}</p>
                            <p class="card-text m-0" style="font-size: small;">QTY: {{qty}}</p>
                            <p class=" card-text m-0 mb-2" style="font-size: small; color:gray"><i>{{seller.email}}</i>
                            </p>
                            <a href="/editProduct/{{id}}" class="btn btn-warning float-left">
                                <p class="card-text m-0" style="font-size: small;">Edit</p>
                            </a><a href="/removeProduct/{{id}}" class="btn btn-danger float-right">
                                <p class="card-text m-0" style="font-size: small;">Remove</p>
                            </a>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>

    </div>
    </main>

    <!--       
      END
      END
      END
      END
      END
             -->
</div>
</div>

</html>